:root {
	--error: 237 73 86;
	--facebook: 59 89 152;
	--button-primary: 0 149 246;
	--button-primary-hover: 24 119 242;

	--separator: 219 219 219;
	--stroke: 219 219 219;
	--stroke-focus: 168 168 168;
	--background-primary: 255 255 255;
	--background-secondary: 250 250 250;
	--text-primary: 0 0 0;
	--text-secondary: 115 115 115;
	--button-secondary: 38 38 38;
	--link: 0 55 107;
}

:root[data-theme='dark'] {
	--separator: 38 38 38;
	--stroke: 85 85 85;
	--stroke-focus: 85 85 85;
	--background-primary: 0 0 0;
	--background-secondary: 18 18 18;
	--text-primary: 245 245 245;
	--text-secondary: 168 168 168;
	--button-secondary: 250 250 250;
	--link: 224 241 255;
}
